[Unit]
Description=Oxymeter Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/toon/oxymeter_service/oximeter_read.sh
Restart=always
RestartSec=10s  

[Install]
WantedBy=multi-user.target
